:root {
    --text-color: #aaaaaa;
    --link-color: #ffffff;
    --background-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Manrope";
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

.hero {
    border: 1px solid var(--text-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    width: fit-content;
    flex-direction: column;
}

.hero .name {
    color: var(--text-color);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.hero .links {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero .links a {
    border: 1px solid var(--text-color);
    color: var(--text-color);
    padding: 10px 20px;
    margin-bottom: 10px;
}

.hero .links a:hover {
    border: 1px solid var(--link-color);
    color: var(--link-color);
}

@media (width < 600px) {
    .hero .links a span {
        display: none;
    }
}
