:root {
    --text-color: #ffffff;
    --link-color: #ff0000;
    --background-color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Manrope";
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

.hero {
    border: 1px solid var(--text-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    width: fit-content;
}

.hero .name {
    margin-left: 20px;
    margin-right: 20px;
}

.hero .links {
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero .links a {
    border: 1px solid var(--text-color);
    color: var(--text-color);
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
}

.hero .links a:hover {
    border: 1px solid var(--link-color);
    color: var(--link-color);
}
